<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #121212;
    padding: 8px;
    text-align: center;
  }
</style>
<body>

  <table>
    <tr>
      <th>Subject</th>
      <th>Grade</th>
      <th>Average (🍪: {{ request.cookies.get('avg') }})</th>
    </tr>
    {% for k,v in results.items() %}
      <tr>
        <td>{{ k }}</td>
        <td>{{ v }}</td>
        {% endfor %}
        <td>{{ avg }}</td>
      </tr>
    </table>
</body>
</html>